extends layout

block content
  h1= title
  - let items = results
  .container-fluid 
    .row
      each icecream in items
        .col-sm-2()
          p cone:  #{icecream.cone}
          p Flavour: #{icecream.Flavour}
          p price: #{icecream.price}